@model WherePigsFlyFms.ViewModels.FarmViewModel

@{
    ViewBag.Title = "RegisterAnimal";
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/toastr")
@Styles.Render("~/bundles/modernizr")
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">@Html.Partial("_menu")</div>
        <div class="col-md-10">

            <div class="panel-group">
                <div class="panel panel">
                    <div class="panel-heading" style="background-color:#3c3c3c;"><h3 style="text-align:left; color:antiquewhite;">Animal Details</h3></div>
                    <div class="panel-body">
                        @Html.HiddenFor(model => model.Animal.Id)

                        <table class="table table-condensed table-responsive">
                            <tr>
                                <th>@Html.LabelFor(model => model.Animal.Name)</th>
                                <th>@Html.LabelFor(model => model.Animal.TagNumber)</th>
                                <th>@Html.LabelFor(model => model.Animal.DateOfBirth)</th>
                                <th>@Html.LabelFor(model => model.Animal.DateAcquired)</th>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(model => model.Animal.Name)</td>
                                <td>@Html.DisplayFor(model => model.Animal.TagNumber)</td>
                                <td>@Html.DisplayFor(model => model.Animal.DateOfBirth)</td>
                                <td>@Html.DisplayFor(model => model.Animal.DateAcquired)</td>
                            </tr>
                            <tr>
                                <th>@Html.LabelFor(model => model.Animal.AnimalType)</th>
                                <th>@Html.LabelFor(model => model.Animal.Breed)</th>
                                <th>@Html.LabelFor(model => model.Animal.Gender)</th>
                                <th>@Html.LabelFor(model => model.Animal.Weight)</th>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(model => model.Animal.AnimalTypeText)</td>
                                <td>@Html.DisplayFor(model => model.Animal.Breed)</td>
                                <td>@Html.DisplayFor(model => model.Animal.Gender)</td>
                                <td>@Html.DisplayFor(model => model.Animal.Weight)</td>
                            </tr>
                            <tr>
                                <th>@Html.LabelFor(model => model.Animal.NameOfDoner)</th>
                                <th>@Html.LabelFor(model => model.Animal.DonerAddress1)</th>
                                <th>@Html.LabelFor(model => model.Animal.DonerCity)</th>
                                <th>@Html.LabelFor(model => model.Animal.DonerState)</th>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(model => model.Animal.NameOfDoner)</td>
                                <td>@Html.DisplayFor(model => model.Animal.DonerAddress1)&nbsp;@Html.DisplayFor(model => model.Animal.DonerAddress2)</td>
                                <td>@Html.DisplayFor(model => model.Animal.DonerCity)</td>
                                <td>@Html.DisplayFor(model => model.Animal.DonerStateText) &nbsp; @Html.DisplayFor(model => model.Animal.DonerZip)</td>
                            </tr>
                            <tr>
                                <th>@Html.LabelFor(model => model.Animal.DonerPhone)</th>
                                <th>@Html.LabelFor(model => model.Animal.DonerEmail)</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(model => model.Animal.DonerPhone)</td>
                                <td>@Html.DisplayFor(model => model.Animal.DonerEmail)</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer" style="background-color:#3c3c3c">
                        <div style="text-align:center;">
                            <a href="@Url.Action("ArchiveAnimal", "Home", new { id = Model.Animal.Id })"><button> <span class="glyphicon glyphicon-remove"></span> Archive Animal</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                @Html.Partial("ViewMedicalDetails", Model)
            </div>

            

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
