@model WherePigsFlyFms.ViewModels.FarmViewModel

@Html.ActionLink("Add New Medical Record", "", string.Empty, new { @class = "btn btn-primary" })
<br />

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.MedicalRecord.DogParvovirus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.MedicalRecord.DogParvovirus)
        </div>

        @Html.LabelFor(model => model.MedicalRecord.DogDistemper, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-sm-4">
            @Html.DisplayFor(model => model.MedicalRecord.DogDistemper)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MedicalRecord.DogHepatitis, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-sm-4">
            @Html.DisplayFor(model => model.MedicalRecord.DogHepatitis)
        </div>

        @Html.LabelFor(model => model.MedicalRecord.DogLeptospirosis, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-sm-4">
            @Html.DisplayFor(model => model.MedicalRecord.DogLeptospirosis)
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.MedicalRecord.DogBordetella, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-sm-4">
            @Html.DisplayFor(model => model.MedicalRecord.DogBordetella)
        </div>

        @Html.LabelFor(model => model.MedicalRecord.Microchip, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-sm-4">
            @Html.DisplayFor(model => model.MedicalRecord.Microchip)
        </div>
    </div>
</div>

        @*<dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.DogBordetella)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.DogBordetella)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.OtherCare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.OtherCare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.Microchip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.Microchip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.MicrochipDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.MicrochipDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.RabiesVac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.RabiesVac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.Catpanleuk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.Catpanleuk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.CatRespVirus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.CatRespVirus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.EctoParasites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.EctoParasites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.EctoParasiteNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.EctoParasiteNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.BloodParasites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.BloodParasites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.BloodParasiteNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.BloodParasiteNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.IntestinalParasites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.IntestinalParasites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.IntestinalParasiteNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.IntestinalParasiteNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.FK_Animal_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.FK_Animal_Id)
        </dd>

    </dl>
</div>*@
