@model WherePigsFlyFms.ViewModels.FarmViewModel

@Html.ActionLink("Add New Medical Record", "", string.Empty, new { @class = "btn btn-primary" })
<br />

<table class="table table-striped table-condensed table-hover table-bordered">
    <tr>
        <th>Dog Parvovirus</th>
        <th>Dog Distemper</th>
        <th>Dog Hepatitis</th>
        <th>Dog Leptospirosis</th>
        <th>Dog Bordetella</th>
        <th>Dog Microchip</th>
    </tr>
    @foreach (var item in Model.MedicalRecords)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.DogParvovirus)</td>
        <td>@Html.DisplayFor(modelItem => item.DogDistemper)</td>
        <td>@Html.DisplayFor(modelItem => item.DogHepatitis)</td>
        <td>@Html.DisplayFor(modelItem => item.DogLeptospirosis)</td>
        <td>@Html.DisplayFor(modelItem => item.DogBordetella)</td>
        <td>@Html.DisplayFor(modelItem => item.Microchip)</td>
    </tr>
    }
</table>

   

       



  <div>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.OtherCare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.OtherCare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.Microchip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.Microchip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.MicrochipDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.MicrochipDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.RabiesVac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.RabiesVac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.Catpanleuk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.Catpanleuk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.CatRespVirus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.CatRespVirus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.EctoParasites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.EctoParasites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.EctoParasiteNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.EctoParasiteNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.BloodParasites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.BloodParasites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.BloodParasiteNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.BloodParasiteNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.IntestinalParasites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.IntestinalParasites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.IntestinalParasiteNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.IntestinalParasiteNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalRecord.FK_Animal_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalRecord.FK_Animal_Id)
        </dd>

    </dl>
</div>
