@model WherePigsFlyFms.ViewModels.FarmViewModel
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/toastr")
@Styles.Render("~/bundles/modernizr")
<br />
<br />
<br />
<head>
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
</head>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

<body>
    <script>
        $(function () {
            $("#codeMaintenance").DataTable();
        })
    </script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                @Html.Partial("_menu")
            </div>
            <div class="col-md-10">
                <div class="panel panel">
                    <div class="panel-heading" style="background-color: #3c3c3c">
                        <h3 style="text-align:center; color:antiquewhite">Manage Picklists</h3>
                    </div>
                    <div class="panel-body">
                        <a href="myModal" data-toggle="modal" data-target="#myModal"><input type="button" value="Add Code" /></a>
                        <br /><br />
                        <table id="codeMaintenance" class="table table-striped table-condensed table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>VALUE</th>
                                    <th>LIST TYPE</th>
                                    <th>TEXT</th>
                                    <th>DELETED</th>
                                    <th>MAINTENANCE</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PickLists)
                                {

                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Value)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ListType)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Text)</td>
                                        <td>@Html.DisplayFor(modelItem => item.IsDeleted)</td>
                                        <td><a href="@Url.Action("","")"><input type="button" value="Modify" /></a></td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                        <link href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

                        @section scripts{
                            <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

                            <script>
                                $(document).ready(function () {
                                    $('codeMaintenance').DataTable();
                                });
                            </script>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</body>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #3c3c3c">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:antiquewhite;">ADD CODE</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_CodeMaintenance", Model)
            </div>
        </div>
    </div>
</div>
